body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../img/bg.jpeg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*
{
    margin: 0;
    padding: 0;
    
}


.message
{
    font-family: 'Great Vibes', cursive;
    color: white;
    position: absolute;
    font-size: 95px;
    
    bottom:7%;
    width: 100%;
    height:200px;
    z-index: 50;
    margin: auto auto;
    text-align: center;
    display: none;
}

.message p{
    font-size: 60px;
    font-family: 'Open Sans';
    color: white;
}
.message a{
    font-size: 25px;
    font-family: 'Open Sans';
    color: white;
    text-decoration: none;
}


